.dropzone {
    width: 94%;
    height: 100px;
    border-width: 2px;
    border-color: '#444444';
    border-style: dashed;
    border-radius: 5px;
    background: #ebebeb;
    padding: 4%;

}
.dropzone-active {
	background:#BFF6ED;
	border-color:#6AEBD5;
}
.slider {
    padding: 5px 0;
}

.ReactVirtualized__Table__row {
    font-size: 10px;
}

.ReactVirtualized__Table__row:hover {
    cursor: pointer;
    background: #ebebeb;
}